
:root {
    --accent-color: #F6F6F6;
    --primary-color: #737373;
    --desc-color: #79797C;
    --unicum-color: #FF7B47;
}

html{  
    box-sizing: border-box;
}
html * {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: inline;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

/* button {
    color: inherit;
} */