
/* section first-class */

.first-class {
    padding: 80px 0;
}

.first-class-container {
    margin: 0 auto;
    width: 279px;
    height: 492px;
}

.first-class-title {
    margin: 0 auto;
    margin-bottom: 40px;
    color: #252B42;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.first-class-text {
    margin-bottom: 40px;
    color: #737373;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.2px;
}

.first-class-box {
    display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
}
.first-class-box-btn-get {
    padding: 10px 36px;
    color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: 2.0; 
letter-spacing: 0.2px;
border: 3px solid transparent;
border-radius: 37px;
background-color: #FF7B47;
cursor: pointer;
transition: color 300ms ease-in;
transition: background-color 300ms ease-in;
transition: border 300ms ease-in;
}
.first-class-box-btn-get:hover {
    color: #FF7B47;
    background-color: #FFF;
    border: 3px solid #FF7B47;
} 

.first-class-box-btn-learn {
    padding: 10px 36px;
    color: #0D5C63;
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: 2.0; 
letter-spacing: 0.2px;
border: 1px solid #000;
border-radius: 37px;
border: 1px solid #0D5C63;
cursor: pointer;
transition: color 300ms ease-in;
transition: background-color 300ms ease-in;
}
.first-class-box-btn-learn:hover {
    color: #FFF;
    background-color: #0D5C63;
    border: 3px solid #0D5C63;
} 


/* section industry */

.industry-list-item-icon {
    width: 48px;
    height: 40px;
    background-color: #0D5C63;
}


/* section who */


.who {
    padding-top: 98px;
    padding-bottom: 174px;
    background: linear-gradient(#F3F3F3 calc(100% - 410px), #000 410px);
}
.who-container {
    margin: 0 auto;
    width: 336px;
    padding: 0 15px;
}
.who-title {
    margin-bottom: 10px;
    color: #252B42;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.who-text {
    margin: 0 auto;
    width: 225px;
    margin-bottom: 60px;
    color: #737373;
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.who-video {
    position: relative;
    margin: 0 auto;
    width: 306px;
height: 442px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.58%, rgba(56, 56, 56, 0.84) 100%), url(../img/video-mobile.jpg);

}

.who-video::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 98px;
    height: 98px;
    border-radius: 50%;
background-color: #0D5C63;
background-image: url(../img/play.svg);
background-repeat: no-repeat;
background-position: center;
transform: translate(-50%, -50%);
}



/* section What */

.what {
    
}

.what-container {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 330px;
    padding: 45px 0;
}

.what-title {
    margin-bottom: 10px;
    color: #252B42;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.what-text{
    margin-bottom: 60px;
    color: #737373;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.2px;
}


.what-list-item {
    padding: 30px 35px;
    /* width: 327px; */
    height: 244px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.what-list-item:not(:last-child) {
    margin-bottom: 30px;
}


.what-list-item-imeg {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
}
.what-list-item-title {
    width: 95px;
    height: 24px;
    margin: 0 auto;
    color: #FF7B47;
font-size: 14px;
font-weight: 600;
line-height: 1.7; 
letter-spacing: 0.2px;
}

.what-list-item-text {
    margin-bottom: 20px;
   
}

.what-list-item-box {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.what-list-item-name {
    width: 95px;
    height: 24px;
    /* margin: 0 auto; */
    color: #FF7B47;
font-size: 14px;
font-weight: 600;
line-height: 1.7; 
letter-spacing: 0.2px;
    
}


.what-list-item-prof {
    display: block;
    color: #252B42;
}




/* section meet */

.meet {
    padding-top: 75px;
    padding-bottom: 124px;
}

.meet-container {
    margin: 0 auto;
    width: 358px;
    padding: 0 15px;
}

.meet-title {
    margin: 0 auto;
    width: 203px;
    margin-bottom: 10px;
    color: #252B42;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.meet-text {
    margin: 0 auto;
    width: 262px;
    margin-bottom: 45px;
    color: #737373;
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.meet-list {
   
}

.meet-list-item {
    width: 328px;
   height: 373px;
   padding-bottom: 30px;
   background-color: #FFF;
   border: 1px solid #EEE;
}

.meet-list-item:not(:last-child) {
    margin-bottom: 30px;
}

.meet-list-item-image {
    margin-bottom: 30px;
    width: 328px;
    height: 231px;
}

.meet-list-item-title {
    margin-bottom: 5px;
    color: #252B42;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.5; /* 150% */
letter-spacing: 0.1px;
}

.meet-list-item-text {
    margin-bottom: 5px;
    color: #737373;
text-align: center;
font-size: 14px;
font-weight: 600;
line-height: 1.7; 
letter-spacing: 0.2px;
}
.meet-list-item-icon {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.meet-list-item-icon-item-place-facebook {
    width: 24px;
height: 24px;
/* background-color: #0D5C63; */
}

@media (min-width: 1080px) {

    .first-class-container {
        width: 860px;
        
    }
    
    .first-class-title {
        width: 635px;
        height: 160px;
        font-size: 58px;
    font-weight: 800;
    line-height: 1.37; 
    letter-spacing: 0.2px;
    }
    .first-class-text {

        text-align: center;
            font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.2px;
}


    .who {
        padding: 80px 0; 
        background: linear-gradient(#F3F3F3 calc(100% - 350px), #000 350px);   
    }

    .who-container {
        width: 880px;
    }

    .who-text {
        width: 470px;
        margin-bottom: 50px;
    }

    .who-video {
        width: 877px;
    height: 442px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.58%, rgba(56, 56, 56, 0.84) 100%), url(../img/video-comp.jpg);
    
    }




/* section What */

.what {
    background: #F3F3F3;
}

.what-container {
    margin: 0 auto;
    width: 1050px;
    padding: 80px 0;
}

.what-title {  

}

.what-text{
    width: 470px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 80px;
    
}

.what-list {
    display: flex;
    gap: 30px;
}


.what-list-item {   
    margin-bottom: 0;
    width: 327px;
    height: 244px;
    padding: 30px 35px;
    background: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.what-list-item {
    margin-bottom: 0;
}


.what-list-item-imeg {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
}
.what-list-item-title {
    width: 95px;
    height: 24px;
    margin: 0 auto;
    color: #FF7B47;
font-size: 14px;
font-weight: 600;
line-height: 1.7; 
letter-spacing: 0.2px;
}

.what-list-item-text {
    margin-bottom: 20px;
   
}

.what-list-item-box {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.what-list-item-name {
    width: 95px;
    height: 24px;
    /* margin: 0 auto; */
    color: #FF7B47;
font-size: 14px;
font-weight: 600;
line-height: 1.7; 
letter-spacing: 0.2px;
    
}


.what-list-item-prof {
    display: block;
    color: #252B42;
}






    /* section meet */

    .meet {
        padding-top: 80px;
        padding-bottom: 92px;
    }
    
    .meet-container {
        width: 1076px;
    }
    .meet-title {
        width: auto;
    }
    .meet-text {
        width: 470px;
        margin-bottom: 80px;
    }
    .meet-list {
        display: flex;
        gap: 30px;
    }
    .meet-list-item {
        width: calc((100%-60px) / 3);
    }
    .meet-list-item:not(:last-child) {
        margin-bottom: 0;
    }
}