.meet {
    padding-top: 75px;
    padding-bottom: 124px;
}

.meet-container {
    margin: 0 auto;
    width: 358px;
    padding: 0 15px;
}

.meet-title {
    margin: 0 auto;
    width: 203px;
    margin-bottom: 10px;
    color: #252B42;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.meet-text {
    margin: 0 auto;
    width: 262px;
    margin-bottom: 45px;
    color: #737373;
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: 1.42; 
letter-spacing: 0.2px;
}

.meet-list {
   
}

.meet-list-item {
    width: 328px;
   height: 231px;
   background-color: rgb(142, 186, 253);
}

.meet-list-item:not(:last-child) {
    margin-bottom: 30px;
}

@media (min-width: 1080px) {
    .meet {
        padding-top: 80px;
        padding-bottom: 92px;
    }
    
    .meet-container {
        width: 1076px;
    }
    .meet-title {
        width: auto;
    }
    .meet-text {
        width: 470px;
        margin-bottom: 80px;
    }
    .meet-list {
        display: flex;
        gap: 30px;
    }
    .meet-list-item {
        width: calc((100%-60px) / 3);
    }
    .meet-list-item:not(:last-child) {
        margin-bottom: 0;
    }
}